
@{
    ViewData["Title"] = "List";
}

<h1>用户列表</h1>
<a href="/user/exportexcel">导出报表</a>
@*<table>
        <tr>
            <td>姓名</td>
            <td>操作</td>
        </tr>
        @foreach (var item in ViewBag.List)
        {
            <tr>
                <td>@item.Item2</td>
                <td><a href="/user/create/@(item.Item1)">编辑</a></td>
            </tr>
        }
    </table>*@

<h1>@ViewBag.User.Name</h1>
<h2>@ViewBag.Role.Name</h2>