@using System.Data
@using X.PagedList
@using X.PagedList.Mvc.Core
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model PagedList<DataRow>
<div>

    <div class="table-responsive">
        <br />
        <button type="button" onclick="location.href='/user/exportexcel'" class="btn btn-primary">导出报表</button>
        <br />        <br />
        <div id="table">
            @await Html.PartialAsync("_Table", Model)
        </div>
    </div>
</div>